* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    text-align: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}



footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Works Section Styles */
#works{
display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center; /* 아이템을 중앙에 정렬 */

}

.work-item {
    margin: 20px 0;
    border: 1px solid black;
    width: 600px;
    height: 600px;
    text-align: center;
    
}

#works .work-item img, #works .work-item video{
    max-width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
    height: auto; /* 세로 비율을 유지 */
    display: block;
    margin: 0 auto; /* 중앙 정렬 */
   
}

/* Gallery Section Styles */
#gallery .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery-item {
    margin: 10px;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    display: flex;
    transition: transform 0.6s;

}

#gallery .gallery-item img, #gallery .gallery-item video{
    
    width: 200px;
    height: auto;
}

#gallery .gallery-item :hover {
    transform: scale(1.3);
}


.active-link::before {
    content: "❤  "; /* 이모티콘 추가 */
    font-size: 1em; /* 이모티콘 크기 조절 */
    color: pink; /* 이모티콘 색상 */
}

nav ul li a:hover {
    color: pink; /* 호버할 때 색상 */
}