* {
	margin:  0px;
	padding:  0px;
	box-sizing: border-box;
}

@font-face {
    font-family: Aptos;
    src: url(aptos.ttf);
    unicode-range: U+0000-007F;
}

@font-face {
    font-family: A1;
    src: url(GothicA1-Regular.ttf);
    unicode-range: U+1100-11FF, U+3130-318F, U+AC00-D7AF;
}



body {
    font-family: Aptos,A1 ;
    margin: 0;
    padding: 0;
    
}

header {
    background: rgba(255,255,255,0.7);
    
    padding: 10px 0;
    position: fixed;
    width: 100%;
   

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;

}

nav ul li {
    display: inline;
    margin: 0 30px;
}

nav ul li a {
    color: grey;
    text-decoration: none;
    font-size: 18px;
    font-family: Aptos;

}

section {
    padding: 60px 30px;
    text-align: center;

}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
}



footer {
    background: rgba(255,255,255,0.7);
    color: hotpink;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

/* Works Section Styles */
#works{
display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: center;
overflow: auto;
margin: 0 auto;
max-width: 800px;

}

.work-item {
	
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 0 grey;
    text-align: center;
    
}

#works .work-item img, #works .work-item video{

    max-width: 100%; /* 부모 컨테이너의 너비에 맞춤 */
    height: auto; /* 세로 비율을 유지 */
    margin-bottom: 10px;
   
}

/* Gallery Section Styles */
#gallery .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.gallery-item {
    margin: 10px;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    display: flex;
    transition: transform 0.6s;

}

#gallery .gallery-item img, #gallery .gallery-item video{
    
    width: 200px;
    height: auto;
}

#gallery .gallery-item :hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px grey;
}


.active-link::before {
    content: "❤  "; /* 이모티콘 추가 */
    font-size: 0.8em; /* 이모티콘 크기 조절 */
    color: white; /* 이모티콘 색상 */
}

.active-link{
	color: white;
	background: hotpink;
}

nav ul li a:hover {
    color: white; /* 호버할 때 색상 */
    background: grey;
}



#profile{
	width: 500px;
	height: auto;
	margin-bottom: 20px;
}

.image-container {
    position: relative;
    width: 500px;
    height: 500px;
    
  }

  .image-container img {
    position: absolute;
   top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
  }

  .image-container img.back {
    opacity: 0;
  }

  .image-container:hover img.front {
    opacity: 0;
  }

  .image-container:hover img.back {
    opacity: 0.6;
  }

  #about {
  	position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
  	 display: flex;
    align-items: center;
    justify-content: center;
  	width: 90vw;
  	

  }

  #insta {
  	margin: 20px;
  	color: black;

  }

  .introduce{
  	width: 500px;

  	font-size: 18px;
  	line-height: 24px;
  }

  .ko{
  	font-size: 0.9em;
  }

/* Imagee Container Styles */
#imagee-container {

    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    flex-wrap: wrap; /* 필요시 다음 줄로 이동 */
    gap: 10px; /* 이미지 간격 */
}

.imagee-item img {
    max-width: 800px; /* 이미지의 최대 너비 */
    height: auto; /* 세로 비율 유지 */
}

.imagee-item video {
    max-width: 800px; /* 이미지의 최대 너비 */
    height: auto; /* 세로 비율 유지 */
}

.imagee-item {
	max-width: 800px;
	text-align: start;
}

  